<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.Stepwise.Playground</string>
    <key>CFBundleName</key>
    <string>Playground</string>
    <key>CFBundleDisplayName</key>
    <string>Playground</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.12</string>
    <key>CFBundleVersion</key>
    <string>2.1.12</string>
    <key>NSHumanReadableCopyright</key>
    <string>2021</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Stepwise: Playground</string>
        <key>description</key>
        <string>This plugin will scramble the frequency components of a signal at a provided range and rate.</string>
        <key>factoryFunction</key>
        <string>PlaygroundAUFactory</string>
        <key>manufacturer</key>
        <string>STPW</string>
        <key>type</key>
        <string>aumf</string>
        <key>subtype</key>
        <string>AAAA</string>
        <key>version</key>
        <integer>131340</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
